<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_tag(movies_path, method: 'get', class: 'form-inline') do %>
        <div class="input-group mb-3">
          <%= text_field_tag(:actor, params[:actor], class: "form-control", placeholder: "Search by Actor Name") %>
          <%= number_field_tag(:sort_rating, params[:sort_rating], class: "form-control", placeholder: "Sort by Rating") %>
          <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container mt-4">
  <%= render "movies", movies: @movies %>
  <%= paginate @movies %>
</div>
